<div class="header">
    <div class="">
        {{> logo}}
    </div>
    <nav class="header_nav">
        <div class="header_nav_right">
            {{> nav list=header }}
        </div>

    </nav>
</div>

<main class="main">
    <div class="main_block">
        <div class="info_block">
            {{#with info}}
            <h1 class="info_title">{{title}}</h1>
            <p class="info_description">{{description}}</p>
            {{/with}}
        </div>
    </div>

    <form class="form">

        {{#with form}}
        <h2 class="form_title">{{title}}</h2>

        <div class="form_input_list">
            {{#each inputs}}
            <input type="{{type}}" placeholder="{{placeholder}}" class="form_input" name="{{name}}"
                id="form-input-{{id}}" />
            {{/each}}

        </div>

        <div class="form_checkbox">
            <div></div>
            {{#with checkbox}}
            <input type="checkbox" name="{{name}}" id="{{name}}">
            <label for="{{name}}">{{label}}</label>
            {{/with}}
        </div>

        <button type="submit" class="form_button">{{button}}</button>
        <div>
            <hr class="form_line">
        </div>
        <p class="form_info">{{info}}</p>
        {{/with}}
    </form>

</main>

{{#with updates}}
<div class="updates">
    <h1 class="updates_title">{{title}}</h1>

    {{#each list}}
    <div class="upd">

        <div class="upd_col_1">

            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none">
                <path d="M32 0H0V32H32V0Z" fill="#007BFF" />
            </svg>

            {{!-- <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none">
                <path d="M32 0H0V32H32V0Z" fill="#E83E8C" />
            </svg>

            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none">
                <path d="M32 0H0V32H32V0Z" fill="#6F42C1" />
            </svg> --}}

        </div>


        <div class="upd_col_2">
            <strong class="upd_nickname">{{nickname}}</strong>
            <p class="upd_description">{{description}}</p>
        </div>
    </div>
    {{/each}}

    <a href="{{show_all.url}}" class="messages_link">{{show_all.text}}</a>
</div>
{{/with}}


<div class="expirience">

    {{#with expirience}}
    <div class="expirience_title">{{title}}</div>
    <div class="exp_badge">{{badge}}</div>

    <div class="all_feedback">

        {{#each list}}
        <div class="feedback">
            <div class="feedback_name">{{name}}</div>
            <div class="feedback_details">{{details}}</div>
        </div>
        {{/each}}

    </div>





    {{/with}}


</div>




<footer class="page_block">
    <div class="footer">
        <div>
            {{> logo}}
            <span class="footer_copyright">Copyright 2023-2024</span>
        </div>

        {{#each footer}}
        <div class="col-3">
            <span class="footer_title">{{title}}</span>
            {{> nav list=links isVertical=true}}
        </div>
        {{/each}}

    </div>
</footer>